@font-face {
    font-family: first-font;
    src: url(../fonts/cursive.otf);
}

@font-face {
    font-family: second-font;
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: third-font;
    src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: fourth-font;
    src: url(../fonts/Rasendrya.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
}


/* HEADER */
header {
    width: 100%;
    background-color: black;
    color: whitesmoke;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
}
.header-container {
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.logo img {
    width: 14%;
}
nav {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
nav ul {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    padding: 10px 12px;
    transition: all 0.3s linear;
}
nav ul li a:hover {
    color: rgba(184, 153, 90);
}
.nav__toggle {
    position: relative;
    height: 32px;
    width: 50px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
}
.nav__burger,
.nav__close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 30px;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
    color: white;
}
.nav__close {
    opacity: 0;
}

/* SIDEBAR */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #1f1f1f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}
.sidebar .closebtn{
    position: absolute;
    right: 12%;
    top: 6%;
    width: 40px;
    height: 40px; 
}
.sidebar .closebtn::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 16px;
    left: 0;
    transform: rotate(46deg);
}
.sidebar .closebtn::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 22px;
    left: 0;
    transform: rotate(314deg);
}
.sidebar .container{
    width: 70%;
    height: 80%;
    margin-top: 50px;
    margin-left: 100px;
    overflow: auto;
}
.sidebar .container .row{
    display: flex;
    justify-content: space-between;
}
.sidebar .container .row .col{
    width: 50%;
}
.sidebar .container .row .col h3{
    color: rgba(184, 153, 90);
    font-weight: 400;
    font-size: 18.2px;
    margin: 10px 15px 10px 0;
}
.sidebar .container .row .col ul{
    list-style: none;
}
.sidebar .container .row .col ul li{
    padding: 12px 0;
}
.sidebar .container .row .col ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8); 
    padding: 6px 10px 10px 0; 
    transition: all .3s linear;
}
.sidebar .container .row .col ul li a:hover{
    color: rgba(184, 153, 90);
}
.sidebar .container .row .col ul li .arrow i{
    margin-left: 12px;
    transition: all .3s linear;
}
.sidebar .container .row .col ul li .arrow:hover i{
    margin-left: 18px;
}
.sidebar .container .row-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
}
.sidebar .container .row-2 .col-2 h3{
    color: rgba(184, 153, 90);
    font-weight: 400;
    font-size: 18.2px;
    padding: 10px 0 16px 0;
    letter-spacing: 1px;
}
.sidebar .container .row-2 .col-2 ul{
    list-style: none;
    display: flex;
    gap: 24px;
}
.sidebar .container .row-2 .col-2 ul li a{
    color: rgba(255, 255, 255, 0.8);
    transition: all .3s linear;
}
.sidebar .container .row-2 .col-2 ul li a:hover{
    color:  rgba(184, 153, 90);
}
.sidebar .container .row-2 .col-3 h3{
    color:  rgba(184, 153, 90);
    font-weight: 300;
    padding: 36px 0 15px 0;
    font-size: 18.2px;
    letter-spacing: 1px;
}
.sidebar .container .row-2 .col-3 form .form-con{
    height: 42px;
    width: 450px;
    border: 1px solid rgba(184, 153, 90);
    display: flex;
    justify-content: space-between;
}
.sidebar .container .row-2 .col-3 form .form-con .mail{
    width: 85%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 5px;
}
.sidebar .container .row-2 .col-3 form .form-con .submit{
    width: 15%;
    font-size: 25px;
    background-color: rgba(184, 153, 90);
    color: white;
    border: none;
}

/* BANNER-SECTION */
#banner {
    width: 100%;
}
#banner .video-container {
    position: relative;
    display: flex;
    z-index: 1;
}
#banner .video-container video {
    width: 100%;
}
#banner .video-container .full-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    width: 100%;
    height: 100%;
}
#banner .video-container .full-div .left {
    width: 570px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;

}
#banner .video-container .full-div .left h2 {
    position: absolute;
    left: 16%;
    top: -6%;
    font-family: fourth-font;
    font-size: 12rem;
    font-weight: 100;
    color: rgba(184, 153, 90);
}
#banner .video-container .full-div .left h3 {
    position: absolute;
    font-family: second-font;
    font-size: 2.8rem;
    font-weight: 100;
    bottom: 47%;
    left: 15%;
    color: white;
}
#banner .video-container .full-div .left h3 span {
    color: rgba(184, 153, 90);
}
#banner .video-container .full-div .left h4 {
    position: absolute;
    font-size: 20px;
    bottom: 32%;
    left: 15.5%;
    letter-spacing: 2px;
    color: white;
}
#banner .video-container .full-div .right {
    width: 500px;
    border: 2px solid rgb(72, 255, 0);
    opacity: 0;
}

/* CONFIDENTIAL-SECTION */
.confidential {
    max-width: 1920px;
    margin: 0 auto;
    padding: 100px 5px;
}
.confidential .row {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.confidential .row .one {
    width: 50%;
    height: 450px;
}
.confidential .row .one h2 {
    font-family: second-font;
    font-size: 56px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px 0 25px 0;
}
.confidential .row .one h2 span {
    color: rgba(184, 153, 90);
}
.confidential .row .one h4 {
    text-align: center;
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 27px;
    padding-bottom: 25px;
}
.confidential .row .one p {
    text-align: center;
    font-size: 16.5px;
    line-height: 22px;
    padding-bottom: 10px;
}
.confidential .row .two {
    height: 420px;
    width: 50%;
    position: relative;
}
.confidential .row .two .img {
    width: 65%;
    height: 370px;
    position: relative;
    left: 12%;
}
.confidential .row .two .img img {
    width: 100%;
    height: 100%;
}
.confidential .row .two .video-button {
    height: 200px;
    width: 235px;
    background-color: black;
    position: absolute;
    right: 23%;
    bottom: -13%;
    cursor: pointer;
}
.confidential .row .two .video-button::before {
    content: 'WATCH VIDEO';
    position: absolute;
    bottom: 15%;
    left: 29%;
    color: whitesmoke;
}
.confidential .row .two .video-button:hover .content .circle {
    background-color: white;
}
.confidential .row .two .video-button .content {
    height: 100px;
    width: 100px;
    border: 1px solid rgba(184, 153, 90);
    position: absolute;
    left: 28%;
    top: 16%;
    border-radius: 50%;
}
.confidential .row .two .video-button .content .circle {
    height: 80px;
    width: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    border-radius: 50%;
    background-color: rgba(122, 117, 117, 0.6);
    transition: all .1s linear;
}
.confidential .row .two .video-button .content .circle .inner-circle {
    height: 68px;
    width: 68px;
    position: absolute;
    top: calc(50% - 34px);
    left: calc(50% - 34px);
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confidential .row .two .video-button .content .circle .inner-circle i {
    color: rgba(184, 153, 90);
}

/* OFFER-SECTION */
.offer {
    max-width: 1920px;
    margin: 0 auto;
    padding: 70px 5px;
}
.offer .row {
    margin: 0 auto;
    height: 560px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offer .row .left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.offer .row .left .left-wrap {
    margin-left: 100px;
    width: 370px;
    text-align: center;
}
.offer .row .left .left-wrap .heading {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.offer .row .left .left-wrap .heading h2 {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    color: rgba(184, 153, 90);
    padding-top: 25px;
    text-transform: uppercase;
}
.offer .row .left .left-wrap .sub-heading {
    padding-top: 15px;
}
.offer .row .left .left-wrap .sub-heading .para1 {
    color: rgba(184, 153, 90);
}
.offer .row .left .left-wrap .sub-heading .para2 {
    font-size: 14px;
    padding: 0 20px;
}
.offer .row .left .left-wrap .sub-heading p:first-child {
    padding-bottom: 8px;
    padding-top: 12px;
}
.offer .row .left .left-wrap .sub-heading:nth-child(5) p:first-child {
    padding: 5px 0;
}
.offer .row .left .left-wrap .sub-heading:nth-child(5) p:last-child {
    padding-bottom: 25px;
}
.offer .row .left .left-wrap .sub-heading:nth-child(5) .bottom-border {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.offer .row .right {
    width: 50%;
    height: 100%;
    padding: 20px 0;
}
.offer .row .right .inner-wrap {
    margin-left: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.offer .row .right .inner-wrap h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}
.offer .row .right .inner-wrap a {
    text-decoration: none;
    background-color: black;
    padding: 10px 55px 10px 30px;
    font-weight: 600;
    width: 140px;
    color: white;
    position: relative;
}
.offer .row .right .inner-wrap a i {
    position: absolute;
    left: 90px;
    top: 12px;
    transition: all .1s ease-in-out;
}
.offer .row .right .inner-wrap a:hover i {
    left: 100px;
}


/* PROCEDURE-SECTION */
.procedure {
    width: 100%;
    height: 700px;
    background-color: #f6f4f2;
    /* padding-top: 40px; */
}
.procedure .wrapper {
    max-width: 1920px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .left-wrap */
.procedure .wrapper .left-wrap {
    width: 33%;
    height: 100%;
    position: relative;
}
.procedure .wrapper .left-wrap .img {
    width: 240px;
    height: 360px;
}
.procedure .wrapper .left-wrap .img1 {
    background: url(../images/img1.jpg) center/cover;
    position: absolute;
    left: 30%;
    top: 12%;
}
.procedure .wrapper .left-wrap .img3 {
    background: url(../images/img3.jpg) center/cover;
    position: absolute;
    left: 30%;
    top: 12%;
    display: none;
}
.procedure .wrapper .left-wrap .img2 {
    background: url(../images/img2.jpg) center/cover;
    position: absolute;
    bottom: 10%;
    left: 30%;
    display: none;
}
.procedure .wrapper .left-wrap .img4 {
    background: url(../images/img4.jpg) center/cover;
    position: absolute;
    bottom: 10%;
    left: 30%;
    display: none;
}
/* .middle-wrap */
.procedure .wrapper .middle-wrap {
    width: 34%;
    height: 100%;
    text-align: center;
}
.procedure .wrapper .middle-wrap h2 {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    padding-top: 80px;
}
.procedure .wrapper .middle-wrap ul {
    list-style: none;
}
.procedure .wrapper .middle-wrap ul li {
    padding: 20px 10px;
    transition: all 0.3s linear;
}
.procedure .wrapper .middle-wrap ul li:first-child {
    padding-top: 60px;
}
.procedure .wrapper .middle-wrap ul li:nth-child(4) {
    padding-bottom: 50px;
}
.procedure .wrapper .middle-wrap ul li a {
    text-decoration: none;
    font-family: second-font;
    text-transform: uppercase;
    font-size: 32px;
    color: black;
    letter-spacing: 1px;
    transition: all 0.3s linear;
}
.procedure .wrapper .middle-wrap ul li a:hover {
    text-transform: lowercase;
    font-family: third-font;
    color: rgba(184, 153, 90);
}
.procedure .wrapper .middle-wrap ul li a span {
    color: rgba(184, 153, 90);
}
.procedure .wrapper .middle-wrap .btn {
    color: rgba(184, 153, 90);
    text-decoration: none;
    position: relative;
    padding: 6px 46px 6px 15px;
}
.procedure .wrapper .middle-wrap .btn i {
    position: absolute;
    top: 21%;
    right: 20%;
    transition: all .3s ease-in-out;
}
.procedure .wrapper .middle-wrap .btn:hover i {
    right: 14%;
}
/* .right-wrap */
.procedure .wrapper .right-wrap {
    width: 33%;
    height: 100%;
    position: relative;
}
.procedure .wrapper .right-wrap .img {
    width: 240px;
    height: 360px;
}
.procedure .wrapper .right-wrap .img1 {
    background: url(../images/img7.jpg) center/cover;
    position: absolute;
    right: 30%;
    top: 12%;
    display: none;
}
.procedure .wrapper .right-wrap .img3 {
    background: url(../images/img6.jpg) center/cover;
    position: absolute;
    right: 30%;
    top: 12%;
    display: none;

}
.procedure .wrapper .right-wrap .img2 {
    background: url(../images/img5.jpg) center/cover;
    position: absolute;
    bottom: 10%;
    right: 30%;
}
.procedure .wrapper .right-wrap .img4 {
    background: url(../images/img8.jpg) center/cover;
    position: absolute;
    bottom: 10%;
    right: 30%;
    display: none;
}


/* CONSULTATION-SECTION */
.consultation {
    width: 100%;
    height: 550px;
    position: relative;
}
.consultation .img-div {
    width: 100%;
    height: 100%;
    background: url(../images/consultation-bg.jpg) center/cover;
}
.consultation .img-div span {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.consultation .img-div .content-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding-left: 180px;
    color: whitesmoke;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    /* position: absolute;
    z-index: 2; */
}
.consultation .img-div .content-box h2 {
    font-size: 44px;
    font-family: second-font;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 50px;
}
.consultation .img-div .content-box p {
    font-weight: 500;
}
.consultation .img-div .content-box a {
    text-decoration: none;
    position: relative;
    padding: 12px 70px 12px 24px;
    background-color: black;
    color: whitesmoke;
}
.consultation .img-div .content-box a i {
    text-decoration: none;
    position: absolute;
    top: 30%;
    right: 15%;
    color: whitesmoke;
    transition: all .3s ease-in-out;
}
.consultation .img-div .content-box a:hover i {
    right: 12%;
}


/* MEMBERSHIP-SECTION */
.membership {
    width: 100%;
    height: 650px;
    background-color: black;
    color: whitesmoke;
    position: relative;
}
.membership .container .content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    height: 100%;
}
.membership .container .content-box h3 {
    font-family: fourth-font;
    color: rgba(127, 107, 67);
    font-size: 200px;
    font-weight: 300;
    position: absolute;
    top: 3.7%;
}
.membership .container .content-box h2 {
    font-family: second-font;
    font-size: 56px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 70px;
    text-align: center;
    position: absolute;
    top: 33%;
}
.membership .container .content-box h2 span {
    color: rgba(184, 153, 90);
}
.membership .container .content-box p {
    font-weight: 400;
    position: absolute;
    bottom: 32%;
    text-align: center;
}
.membership .container .content-box a {
    position: absolute;
    bottom: 16%;
    background-color: rgba(184, 153, 90);
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 60px 10px 28px;
}
.membership .container .content-box a i {
    position: absolute;
    right: 18%;
    top: 30%;
    transition: all .3s ease-in-out;
}
.membership .container .content-box a:hover i {
    right: 13%;
}


/* NEWS-SECTION */
.news-con {
    min-height: 800px;
    width: 100%;
}
.news-con .container {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 70px;
}
.news-con .container h2 {
    font-family: second-font;
    font-size: 46px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 10px;
}
.news-con .container h2 span {
    color: rgba(184, 153, 90);
}
.news-con .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-con .container .row .col {
    padding: 15px;
}
.news-con .container .row .col .post-card {
    cursor: pointer;
}
.news-con .container .row .col .post-card .img-con {
    overflow: hidden;
}
.news-con .container .row .col-one .card-one .img-con {
    height: 430px;
    width: 245px;
    margin-top: 60px;
}
.news-con .container .row .col-two .card-two .img-con {
    height: 360px;
    width: 245px;
    margin-top: -10px;
}
.news-con .container .row .col-three .card-three .img-con {
    height: 300px;
    width: 245px;
    margin-top: -65px;
}
.news-con .container .row .col-four .card-four .img-con {
    height: 300px;
    width: 245px;
    margin-top: -65px;
}
.news-con .container .row .col .post-card .text-con {
    padding: 18px 10px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    gap: 17px;
}
.news-con .container .row .col .post-card .text-con p {
    text-decoration: underline;
}
.news-con .container .row .col .post-card .text-con h4 {
    font-size: 19px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 1px;
}
.news-con .container .row .col .post-card .text-con a {
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    padding: 5px 45px 5px 0px;
    color: rgba(184, 153, 90);
}
.news-con .container .row .col .post-card .text-con a i {
    position: absolute;
    top: 22%;
    right: 14%;
    transition: all .3s linear;
}
.news-con .container .row .col .post-card:hover .text-con a i {
    right: 8%;
}
.news-con .container .row .col .post-card:hover .img-con img {
    transform: scale(1.1);
}
.news-con .container .row .col .post-card .img-con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s linear;
}
.news-con .container .btn {
    text-align: center;
}
.news-con .container .btn a {
    text-decoration: none;
    padding: 8px 60px 8px 25px;
    background-color: black;
    color: whitesmoke;
    position: relative;
}
.news-con .container .btn a i {
    position: absolute;
    top: 30%;
    right: 22%;
    transition: all .3s ease-in-out;
}
.news-con .container .btn a:hover i {
    right: 19%;
}


/* FEEDBACK-SECTION */
.feedback {
    width: 100%;
    min-height: 600px;
    background-color: #f6f4f2;
    padding: 70px 0;
}
.feedback .container {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.feedback .container .swiper {
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
}
.feedback .container .swiper .heading {
    padding: 30px 0;
}
.feedback .container .swiper .heading h2 {
    position: absolute;
    top: 1%;
    left: 9%;
    z-index: 2;
    font-size: 54px;
    font-weight: 300;
    font-family: second-family;
    letter-spacing: 1px;
}
.feedback .container .swiper .heading h2 span {
    color: rgba(184, 153, 90);
}
.feedback .container .swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
}
.feedback .container .swiper-slide .col {
    height: 400px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    gap: 25px;
    padding: 0 10px;
    padding-top: 60px;
}
.feedback .container .swiper-slide .col .img i {
    font-size: 25px;
    color: rgba(184, 153, 90);
}
.feedback .container .swiper-slide .col h4 {
    font-weight: 300;
}
.feedback .container .swiper-button-next {
    color: rgba(0, 0, 0, 0.663);
    top: var(--swiper-navigation-top-offset, 50%);
}
.feedback .container .swiper-button-prev {
    color: rgba(0, 0, 0, 0.663);
    top: var(--swiper-navigation-top-offset, 50%);
}
.feedback .container .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #323436;
}

/* BEFORE-AFTER-SECTION */
.after-before-section {
    padding: 60px 0;
    height: 600px;
    width: 100%;
}
.after-before-section .container {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
}
.after-before-section .container .swiper .heading {
    padding: 50px 0;
}
.after-before-section .container .swiper .heading h2 {
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: 2;
    font-size: 54px;
    font-weight: 300;
    font-family: second-family;
    letter-spacing: 1px;
}
.after-before-section .container .swiper {
    height: 90%;
    padding: 0px 30px;

    max-width: 1920px;
    /* height: 100%; */
    /* border: 5px solid lime; */
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
}
.after-before-section .container .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 80px;
}
.after-before-section .container .swiper-button-next,
.swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 60%);
    color: rgba(0, 0, 0, 0.663);
}
.after-before-section .container .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #323436;
}


/* FOLLOW-SECTION */
.follow-section {
    width: 100%;
    height: 540px;
}
.follow-section .container {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    padding: 70px 60px;
}
.follow-section .container .heading {
    text-align: center;
    padding-bottom: 60px;
}
.follow-section .container .heading h2 {
    font-size: 52px;
    font-family: second-font;
    font-weight: 500;
    letter-spacing: 1px;
}
.follow-section .container .image-container {
    height: 220px;
    width: 92%;
    margin: 0 auto;
}
.follow-section .container .image-container .row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.follow-section .container .image-container .row .col {
    height: 100%;
    width: 220px;
    position: relative;
    cursor: pointer;
}
.follow-section .container .image-container .row .col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.follow-section .container .image-container .row .col span {
    display: none;
}
.follow-section .container .image-container .row .col:hover span {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
}


/* GUEST-SECTION */
.guest {
    width: 100%;
    height: 500px;
    position: relative;
}
.guest .img-div {
    width: 100%;
    height: 100%;
    background: url(../images/guest-sec.jpg) center/cover;
}
.guest .img-div span {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.guest .img-div .content-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
    padding-left: 180px;
    color: whitesmoke;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
}
.guest .img-div .content-box h2 {
    font-size: 52px;
    font-family: second-font;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 50px;
}
.guest .img-div .content-box p {
    font-size: 17px;
    font-weight: 500;
    width: 450px;
}
.guest .img-div .content-box a {
    text-decoration: none;
    position: relative;
    padding: 12px 70px 12px 24px;
    background-color: rgba(184, 153, 90);
    color: whitesmoke;
}
.guest .img-div .content-box a i {
    text-decoration: none;
    position: absolute;
    top: 30%;
    right: 15%;
    color: whitesmoke;
    transition: all .3s ease-in-out;
}
.guest .img-div .content-box a:hover i {
    right: 12%;
}


